* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    margin: 0 auto;
}

header {
    margin-top: 4rem;
}

body {
    font-family: Arial, serif;
    font: 1.2rem;
}

main {
    padding: 1rem 0;
}

h1,
h2
{
    text-align: center;
    color: #3e32e7;
    margin-bottom: 5px;
}

p {
    text-align: center;
    padding: 3px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    padding: .5rem 1rem;
    margin: .5rem 3rem;
    background-color: #e0e0e0;
    border: 1px solid #bbb;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #adbffc;
    border: 1px solid #5145fd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
    margin-top: 5px;
}

footer {
    text-align: center;
    margin: 2.5rem 0;
}