* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: Arial, serif;
    font: 1.2rem;
}

main {
    margin: 4rem 0;
}

h1 {
    text-align: center;
}

#current-temp {
    font-weight: 700;
}

.border {
    margin: 0 auto;
    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    margin-top: 10px;
    max-width: 400px;
}