* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, body, footer {
    max-width: 1500px;
    margin: 0 auto;
    font: 1.2rem;
    text-align: center;
    padding: 10px;
}

.hero img {
    width: 100%;
    height: auto;
  }