:root {
    --dark-green: #3A5A40;
    --green-color: #055e22;
    --light-green: #e8ffeb;
    --light-gray: #f7f7f7;
    --dark-gray: #ddd;
    --blue-color: #0339c2;
    --white-color: #fff;
    --black-color: #000;
    --yellow-color: #ffff00;
    --red-color: #AB1313;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 10px;
}

body {
    font-family: 'Roboto', Arial, serif;
    margin: 0 auto;
    text-align: center;
}

header, footer {
    padding: 2rem;
    background-color: var(--dark-green);
    color: var(--white-color);
}

header {
    display: block;
}

header h1 {
    text-align: left;
}

img {
    width: 100%;
	height: 100%;
	object-fit: cover;
}

/*======  Navigation Menu  ======*/

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation a {
	display: none;
	padding: 1rem;
    margin-top: .5rem;
    margin-left: 0;
	text-align: center;
	text-decoration: none;
	color: var(--white-color); 
}

.navigation a:hover {
	font-weight: 700;
    background-color: var(--green-color);
    border-radius: 6px;
    border: 1px solid var(--white-color); 
}

.navigation .active {
    font-weight: 700;
    background-color: var(--green-color);
    border-radius: 6px;
    border: 1px solid var(--white-color);
}

/*======  Hamburger Menu  ======*/

#menu {
    font-size: 1.5rem;
	background: none;
    border: 0;
	color: var(--white-color);
	position: absolute;
	top: 2.5rem;
	right: 2rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.open a {
	display: block;
}

/*======  Containers  ======*/

.container-home {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
}

.container-discover {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
}

.container-join {
    display: grid;
    grid-template-rows: 115px 1fr .90fr;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0 auto;
}

.container-thankyou {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
}

.container-directory {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
}

/*======  Home Page  ======*/

.weather-container h2,
.events-container h2 {
    text-align: left;
    border-bottom: 1px solid var(--black-color);
}

/*======  Hero  ======*/

.hero-container {
    grid-area: 1 / 1 / 2 / 2;
    position: relative; 
}

.hero img {
    filter: blur(2.5px);
    width: 100%;
}

.home-action {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; 
}

.home-action a {
    padding: 1rem 2rem;
    border-radius: .5rem;
    color: var(--black-color);
    background-color: rgb(224, 147, 3);
}

.home-action a:hover {
    background-color: rgb(255, 168, 6);
}

/*======  Events  ======*/

.events-container {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--light-gray);
    padding: 1rem;
    text-align: left;
}

.events-container h3 {
    margin-top: 2rem;
}

.event-description {
    margin-top: 5px;
    font-size: 14px;
    color: var(--black-color);
}

.more-info {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: var(--blue-color);
    text-decoration: none;
}

.more-info:hover {
    text-decoration: underline;
}

.border {
    margin-top: 2rem;
    border-bottom: 1px solid var(--black-color);
}

/*======  Weather  ======*/

.weather-container {
    grid-area: 3 / 1 / 4 / 2;
    background-color: var(--light-gray);
    padding: 1rem;
}

.weather-content {
    padding: 15px;
    text-align: center;
}

.weather-content img{
    width: 80px;
    height: 80px;
}

.temperature {
    font-size: 24px;
    margin: 5px 0;
}

.condition {
    font-size: 16px;
    color: var(--black-color);
}

.weather-info {
    margin-top: 15px;
    text-align: left;
}

.weather-info p {
    margin: 5px 0;
    font-size: 14px;
    color: var(--black-color);
}

/*======  Advertisement  ======*/

.advertisements-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 0 1rem 1rem 1rem;
    align-items: center;
}

.advertise {
    background-color: var(--light-gray);
    padding: 1rem;
}

.advertise h3{
    text-align: left;
    color: var(--dark-green);
}

.message {
    text-align: right;
}

.contact {
    text-align: center;
    color: var(--blue-color);
}

/*======  Discover Page  ======*/

.sidebar {
    grid-area: 1 / 1 / 2 / 2;
}

.sidebar img {
    margin-top: 15px;
    border-radius: 20px;
}

.content {
    grid-area: 2 / 1 / 3 / 2;
}

.content h2 {
    padding: 1rem 0 2rem 0;
    color: var(--dark-green)
}

.content figure {
    padding: 2rem 0 1rem 0;
}

.content figure img {
    border-radius: 20px;
}

.content figure figcaption {
    margin-top: 10px;
}

.border-box {
    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    margin-top: 10px;
}

.display-message {
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-green);
    box-shadow: 0 4px 6px var(--green-color);
    margin-bottom: 20px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0;
}

.label {
    font-weight: bold;
    color: var(--black-color);
    text-align: right;
}

.value {
    color: var(--black-color);
    text-align: left;
    padding-left: 10px;
}

.title {
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: var(--black-color);
    color: var(--dark-green);
}

/*======  Calendar  ======*/
  
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 10px;
}
  
#currentMonthYear {
    font-size: 1.2em;
    font-weight: bold;
}
  
button {
    padding: 5px 10px;
    font-size: 1em;
    border: 1px solid var(--light-gray);
    background: var(--light-gray);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
  
button:hover {
    background: #ddd;
}
  
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
  
.day {
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
    font-size: 0.9em;
}
  
.day:first-child {
    font-weight: bold;
}
  
.day:hover {
    background: var(--green-color);
    color: var(--white-color);
}

/*======  Join Page  ======*/

.container-join span {
    color: var(--red-color);
}

.container-join h1 {
    grid-area: 1 / 1 / 2 / 3;
}

.container-join h2 {
    color: var(--dark-green);
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.np-box {
    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    margin-top: 40px;
}

.silver-box {
    background-color: #A8A9AD;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    margin-top: 40px;
}

.bronze-box {
    background-color: #CE8946;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    margin-top: 40px;
}

.gold-box {
    background-color: #f0c32e;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    margin-top: 40px;
}

.form-border {
    background-color: var(--light-green);
    border: 1px solid var(--dark-gray);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    margin-top: 20px;
    text-align: left;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: var(--black-color);
    font: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 select,
.wf1 textarea
{   
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    margin-top: .25rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    resize: none;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(var(--green-color), var(--dark-green));
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 2rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    cursor: pointer;
}

.wf1 input:required:valid {
    border-right: solid 8px green;
}

.form {
    grid-area: 2 / 1/ 3 / 2;
}

.membership-info {
    grid-area: 3 / 1 / 4 / 2;
}

.membership-info p {
    text-align: left;
}

.membership-info h2 {
    color: var(--dark-green);
    margin-top: 20px;
}

.membership-info h3 {
    text-align: left;
}

.membership-info ul {
    padding: 15px 20px;
    text-align: left;
}

.container-thankyou img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/*======  Footer  ======*/

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-green);
}

.logo {
    grid-area: 1 / 1 / 2 /2;
    text-align: right;
}

.logo img {
    width: 150px;
    height: 150px;
}

.left-side {
    grid-area: 1 / 2 / 2 /3;
    text-align: left;
}

.right-side {
    grid-area: 2 / 1 / 3 /3;
}

.right-side a {
    color: var(--white-color);
    cursor: pointer;
    text-decoration: none;
}

.responsive-paragraph {
    color: var(--yellow-color);
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
    display: inline-block;
}

.responsive-paragraph span {
    display: block; 
    margin: 5px 0;
}

.copyright, .name, .project {
    margin: 5px;
}