* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, body, footer {
    max-width: 960px;
    margin: 0 auto;
    font: 1.2rem;
}

body {
    font-family: "Roboto", Arial, serif;
    font: 1.2rem;
}

header {
    position: relative;
    background-color: #005583;
    color: white;
    padding: 1.2rem 0 1.2rem 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

header span {
    font-size: 2rem;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4.7rem 300px 300px 500px;
}

.hero {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
	border: 1px solid rgba(0,0,0,.1);
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero-label {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #203dbd);
	border: 1px solid rgba(0,0,0,.75);
	padding: 2rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.hero-label p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
}

.home-container h1 {
    grid-area: 2 / 1 / 3 / 2;
    color: rgb(57, 58, 58);
    padding: 1.5rem 0 0 0;
    font-size: 23px;
    text-align: center;
    border-bottom: solid 2px rgb(194, 194, 194);
    margin: 10px;
}

.section1 {
    grid-area: 3 / 1 / 4 / 2;
}

.section2 {
    grid-area: 4 / 1 / 5 / 2;
}

.map {
    grid-area: 5 / 1 / 6 / 2;
    margin: 10px;
}

.map iframe {
    width: 100%;
	object-fit: cover;
}

.card {
    align-items: center;
    border-radius: 15px;
    border: 2px solid rgb(194, 194, 194);
    margin: 10px;
}

.card h2 {
    background-color: #005583;
    color: white;
    text-align: center;  
    border-radius: 15px 15px 0 0; 
    padding: 10px;
}

.card p {
    text-align: center;  
    padding-top: 1.8rem;
}

.card ul {
    text-align: left;  
    padding: 1rem;
    list-style-type: none;
}

.card ul li{
    padding: .2rem;
}

footer {
    background-color: #005583;
    color: white;
    text-align: center;   
    padding: 20px;
}

.active {
    background-color: #81491b;
    font-weight: 700;
}

#lastModified {
    color: yellow;
    padding-top: .5rem;
}

.responsive-paragraph {
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.responsive-paragraph .copyright {
    white-space: nowrap;

}

.copyright, .name, .location {
    margin: 5px;
}

.responsive-paragraph span {
    display: block; 

}

/*========  Dark Theme Button ========*/

#themeBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
    border: none;
    text-align: center;
    height: 46px;
    border-radius: 10%;
}

main.dark {
    background-color: #474545;
}

main.dark h1 {
    color: #FFF;
}

main.dark a {
    color: #FFF;
}

main.dark li {
    color: #FFF;
}

.card.dark p {
    color: #FFF;
}

/*========  Hambumger Menu ========*/

.navigation {
    background-color: black;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navigation a {
    display: none;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
}

#menu {
    font-size: 2.5rem;
	background: none;
    border: 0;
	position: absolute;
	top: 170px;
	right: 15px;
    color: white;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

#extra-space {
    background-color: #005583;
    padding: 30px;
}

.open a {
	display: block;
}