@media screen and (min-width: 960px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 4.7rem 300px 475px;
    }

    .hero {
        grid-area: 1 / 1 / 2 / 4;
    }

    h1 {
        grid-area: 2 / 1 / 3 / 4;
    }

    .section1 {
        grid-area: 3 / 1 / 4 / 3;
    }

    .section2 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .map {
        grid-area: 4 / 1 / 5 / 4;
    }

    .card {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    header img {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .navigation ul {
        flex-direction: row;
    }

    .responsive-paragraph span {
        display: inline;
    }

    .responsive-paragraph {
        white-space: nowrap;
    }

    /*========  Hambumger Menu ========*/

    .navigation {
        flex-direction: row;
    }
    
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    
    #menu {
        display: none;
    }

    #extra-space {
        display: none;
    }
}